GITLAB_BASE_URL=https://gitlab.example.com
GITLAB_TOKEN=__REPLACE__
GITLAB_WEBHOOK_SECRET=__REPLACE__

GITHUB_API_BASE_URL=https://api.github.com
GITHUB_TOKEN=__REPLACE__
GITHUB_WEBHOOK_SECRET=__REPLACE__

LLM_BASE_URL=__REPLACE__
LLM_API_KEY=__REPLACE__
LLM_MODEL=__REPLACE__

INDEX_PG_DSN=__REPLACE__
INDEX_EMBED_MODEL=__REPLACE__
INDEX_EMBED_DIM=__REPLACE__
INDEX_REPO_BASE_DIR=__REPLACE__
INDEX_GIT_BIN=__REPLACE__

