GITLAB_BASE_URL=https://gitlab.example.com
GITLAB_TOKEN=__REPLACE__
GITLAB_WEBHOOK_SECRET=__REPLACE__

GITHUB_API_BASE_URL=https://api.github.com
GITHUB_TOKEN=__REPLACE__
GITHUB_WEBHOOK_SECRET=__REPLACE__

LLM_BASE_URL=__REPLACE__
LLM_API_KEY=__REPLACE__
LLM_MODEL=__REPLACE__


